body {
    display: flex;
    margin-top: 100px;
    text-align: center;
    background: url('https://images.alphacoders.com/218/thumb-1920-218193.jpg');
    /* background-size: cover;   */
    background-size: auto cover;
}

#weather {
    padding-left: 10px;
}

#base {
    background: rgba(97, 179, 255, 0.5);
    margin: auto;
    border-bottom: none;
    width: 300px;
    height: 100%;
}

#current-date {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 15px;
    font-weight: 100;
    font-family: Sans-serif;
}

#sity-name {
    margin: 0;
    color: rgb(255, 137, 27);
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    padding-top: 30px;
    text-transform: uppercase;
    font-family: Sans-serif;
}

#temp {
    margin: 20px 0 25px 0;
    color: white;
    font-size: 40px;
    text-shadow: 5px 5px 5px black;
    /* padding-top: 18px; */
    text-transform: uppercase;
    font-family: Sans-serif;
}

#description {
    margin: 0;
    color: rgb(255, 137, 27);
    text-shadow: 2px 2px 5px black;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Sans-serif;
}

#feature {
    padding: 0;
}

#feature li {
    list-style: none;
}

#feature li img {
    width: 150px;
    height: 150px;
}

#detailed-button {
    margin-top: 13px;
    width: 100%;
    height: 40px;
    background: rgb(255, 137, 27);
    font-size: 20px;
    text-transform: uppercase;
    font-family: Sans-serif;
    cursor: pointer;
}

#detailed-button p {
    margin: 0;
    color: black;
    text-shadow: 0px 1px 3px black;
}

#detailed-info {
    background: rgba(97, 179, 255, 0.5);
    position: absolute;
    width: 300px;
    /* border: solid 3px rgb(255, 137, 27); */
    border-top: none;
    margin: auto;
}

#range-temp {
    text-align: center;
    display: flex;
}

#range-temp p {
    margin: auto;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Sans-serif;
}

#determinant i {
    margin: 0 60px 0 60px;
    color: rgb(255, 137, 27);
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-family: Sans-serif;
    text-transform: uppercase;
}

#scorekeeper {
    display: flex;
}

#score {
    margin: 0;
    padding: 10px 10px 20px 20px;
    color: rgb(255, 137, 27);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-family: Sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: left;
}

#scorekeeper li {
    padding-top: 15px;
    font-family: Sans-serif;
    display: flex;
}

#info {
    margin: 0;
    font-weight: bold;
    padding: 10px 10px 20px 40px;
    list-style: none;
    color: white;
    text-shadow: 3px 3px 3px black;
}

#info img {
    width: 20px;
    height: 20px;
}