body {
    display: flex;
    margin-top: 100px;
    text-align: center;
    background: url('https://images.alphacoders.com/218/thumb-1920-218193.jpg') no-repeat center center fixed;
    background-size: cover;
}

#weather {
    padding-left: 10px;
}

#base {
    background: rgba(97, 179, 255, 0.5);
    margin: auto;
    border-bottom: none;
    width: 300px;
    height: 380px;
}

#current-date {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 15px;
    font-weight: 100;
    font-family: Sans-serif;
}

#sity-name {
    margin: 0;
    color: rgb(255, 137, 27);
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    padding-top: 30px;
    text-transform: uppercase;
    font-family: Sans-serif;
}

#temp {
    margin: 10px 0 10px 0;
    color: white;
    font-size: 40px;
    text-shadow: 5px 5px 5px black;
    /* padding-top: 18px; */
    text-transform: uppercase;
    font-family: Sans-serif;
}

#description {
    margin: 0 0 10px 0;
    color: rgb(255, 137, 27);
    text-shadow: 2px 2px 5px black;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Sans-serif;
}

#feature {
    margin: 0;
    padding: 0;
}

#feature li {
    list-style: none;
}

#feature li img {
    width: 130px;
    height: 130px;
}

#detailed-button {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background: rgb(255, 137, 27, 0.8);
    font-size: 20px;
    text-transform: uppercase;
    font-family: Sans-serif;
    cursor: pointer;
}

#detailed-button p {
    margin: 0;
    color: black;
    text-shadow: 0px 1px 3px black;
}

#detailed-info {
    top: 517px;
    background: rgba(97, 179, 255, 0.5);
    position: absolute;
    width: 300px;
    border-top: none;
    margin: auto;
}

#range-temp {
    text-align: center;
    display: flex;
}

#range-temp p {
    margin: auto;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Sans-serif;
}

#determinant i {
    margin: 0 20% 0 20%;
    color: rgb(255, 137, 27);
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-family: Sans-serif;
    text-transform: uppercase;
}

#scorekeeper {
    display: flex;
}

#score {
    margin: 0;
    padding: 10px 10px 20px 20px;
    color: rgb(255, 137, 27);
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-family: Sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: left;
}

#scorekeeper li {
    padding-top: 15px;
    font-family: Sans-serif;
    display: flex;
}

#info {
    margin: 0;
    font-weight: bold;
    padding: 10px 10px 20px 40px;
    list-style: none;
    color: white;
    text-shadow: 3px 3px 3px black;
}

#info img {
    width: 20px;
    height: 20px;
}

@media(max-width: 1000px) {
    body {
        display: block;
        margin: auto;
        padding-top: 20px;
    }
    #weather {
        margin-bottom: 53px;
    }
    #base {
        margin-right: 0;
        margin-left: 33%;
        /* margin-bottom: 53px; */
    }
    #detailed-info {
        width: 250px;
        top: 20px;
        margin: 0 0 0 0;
        position: unset;
    }
    #scorekeeper ul {
        margin: 0;
        /* padding: 10px 10px 100px 5px; */
        font-size: 15px;
    }
    #scorekeeper li {
        padding-top: 45px;
    }
    #info {
        padding: 10px 10px 20px 7px;
    }
    #weather {
        display: flex;
    }
}

@media(max-width: 810px) {
    #determinant i {
        margin: 0 17% 0 17%;
    }
}